@model Student
@{
	ViewData["Title"] = "Create a new Student";
}
<h2>Create Student</h2>
<form method="post">
	<div class="container">
		<div class="form-group">
			<label class="control-label" asp-for="FirstName"></label>
			<input class="form-control" asp-for="FirstName" />
			<span class="text-danger" asp-validation-for="FirstName"></span>
			<br />
		</div>

		<div class="form-group">
			<label class="control-label" asp-for="LastName"></label>
			<input class="form-control" asp-for="LastName" />
			<span class="text-danger" asp-validation-for="LastName"></span>
			<br />
		</div>

		<div class="form-group">
			<label class="control-label" asp-for="DateOfBirth"></label>
			<!-- Set min and max date -->
			<input class="form-control" asp-for="DateOfBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd")" />
			<span class="text-danger" asp-validation-for="DateOfBirth"></span>
			<br />
		</div>

		<div class="form-group">
			<label class="control-label" asp-for="StudentEmail"></label>
			<input class="form-control" asp-for="StudentEmail" />
			<span class="text-danger" asp-validation-for="StudentEmail"></span>
			<br />
		</div>

		<div class="form-group">
			<label class="control-label" asp-for="PhoneNumber"></label>
			<input class="form-control" asp-for="PhoneNumber" />
			<span class="text-danger" asp-validation-for="PhoneNumber"></span>
			<br />
		</div>

		<div class="form-group">
			<input class="btn btn-primary form-control" type="submit" value="Add Student" />
		</div>
	</div>
</form>

<!-- References Views\Shared\_ValidationScriptsPartial.cs
	for form validation
-->
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}